*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
}


ul,
ol {
    list-style: none;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}


a {
    color: inherit;
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}


button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
}


button {
    background: none;
    border: none;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    display: block;
}

.cart {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 0px 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title h2{
    margin: 0;
    padding: 10px;
    background-color: gray;
    text-align: center;
}

.cart button {
    padding: 10px;
    background-color:gray;
    color: white;
    border: none;
    cursor: pointer;
}

.cart button:hover {
    background-color: darkgrey;
}

#cart{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid darkgray;
    gap: 10px;
}

.card-cart .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-cart .cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-cart img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.icono-cart{
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.icono-cart img{
    width: 40px;
    height: 40px;
}

.on{
    transform: translateX(0);
}

.logo{
    margin: 0 auto;
}


.seccion-juegos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: gray;
}

.seccion-juegos h3{
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 1.5em;
}

.juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.juego h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.juego img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 10px 0;
}

.juego div {
    font-size: 0.9em;
    color: darkgray;
    margin-bottom: 10px;
}

.juego p {
    font-size: 1.1em;
    font-weight: bold;
    color: #2c3e50;
    margin: 10px 0;
}

.juego button {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.juego button:hover {
    background-color: orange;
    transform: translateY(-3px);
}

.juego button:active {
    transform: translateY(1px);
}

.juegos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.boton-buscar{
    padding: 10px;
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
}

.boton-buscar:hover{
    background-color: gray;
}